@{
	ViewData["Title"] = "AboutUs";
}

<div class="w-100">
	<div class="container-fluid my-3 feeditem">
		<div class="card col-md">
			<div class="card-body">
				<h2 class="card-title">About us</h2>
				<h5>Pawbook - where the pets hang out!</h5>
				<p>
					&emsp; &emsp; <i class="fa-solid fa-paw"></i> Pawbook is about giving pets the power to create space to find belonging in their lives. We want to make it easier for their owners to share the memories of their pets with people that
					also care about the little ones.
				</p>
				<p>
					&emsp; &emsp; <i class="fa-solid fa-paw"></i> The owner can create an account for their pet and enjoy sharing memories with the community. Every pet has a profile page that includes their profile photo and some information about
					them. Also, from here, the user can customize their profile or another user can press the follow button. Below, the posts of the user can be seen.
				</p>
				<p>
					&emsp; &emsp; <i class="fa-solid fa-paw"></i> The interaction between pets is made on the feed page, where the user can see posts from other users and react with a Paw. From here, also, the user can submit a new post which can
					contain a description and a photo.
				</p>
				<p>
					&emsp; &emsp; <i class="fa-solid fa-paw"></i> The “Find a PAWL” button helps you find more paw friends (or pawl).
				</p>
				<h5>Keywords</h5>
				<ul>
					<li>
						paw - reaction when a user enjoy a post
					</li>
					<li>
						PAWL - a paw friend that has not been discovered yet
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
