body {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(40, 84, 48));
}

@media only screen and (max-width: 600px) {
    .card {
        width: 100%;
    }
    .container-fluid {
        display: block !important;
    }
}