/* _content/Pawbook/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-3hmjmf0bep] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-3hmjmf0bep] {
  color: #0077cc;
}

.btn-primary[b-3hmjmf0bep] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-3hmjmf0bep], .nav-pills .show > .nav-link[b-3hmjmf0bep] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-3hmjmf0bep] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-3hmjmf0bep] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-3hmjmf0bep] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-3hmjmf0bep] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-3hmjmf0bep] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.navbar-dark[b-3hmjmf0bep] {
    background: rgb(40, 84, 48);
}

nav-link active:hover[b-3hmjmf0bep], nav-link active:focus[b-3hmjmf0bep] {
    background-color: #FFFF00;
    color: #FFC0CB;
}
